
<ul class="nav nav-tabs">  
  <li role="presentation" ng-class="{active: viewDublin}"><a ng-href="/#/dublin/{{ dublin._id }}">View</a></li>
  <li role="presentation" ng-class="{active: editDublin}"><a ng-href="/#/dublin/{{ dublin._id }}/edit">Edit</a></li>
<!--dublin make sure d rythm with dublin-edit.js function ( $scope, $routeParams , dublin ,$location) {-->
</ul>

<!--Dublin is got from dubin-edit ( $scope.Dublin = Dublin; )and same name in dublin-add.js($scope.Dublin= {};) but i have to chge dublinLibrary to Dublin in dublin-add.html-->