<form role="form">
  <div class="form-group">
    <label for="phone" class="control-label">Phone</label>
    <input type="text" ng-model="Galway.phone" class="form-control" id="phone" placeholder="Enter a Phone No eg +353 (01) ######"/>
  </div>
  <div class="form-group">
    <label for="name" class="control-label">Name</label>
    <input type="text" ng-model="Galway.name" class="form-control" id="phone" placeholder="Enter the Library Name"/>
  </div>
   <div class="form-group">
    <label for="address" class="control-label">Address</label>
    <input type="text" ng-model="Galway.address" class="form-control" id="phone" placeholder="Enter the Address"/>
  </div>
   <div class="form-group">
    <label for="town" class="control-label">town</label>
    <input type="text" ng-model="Galway.town" class="form-control" id="phone" placeholder="Enter the town Name"/>
  </div>
   <div class="form-group">
    <label for="toilet" class="control-label">Toilet</label>
    <input type="text" ng-model="Galway.toilet" class="form-control" id="phone" placeholder="Yes or No"/>
  </div>
  <input type="submit" class="btn btn-primary" ng-click="saveGalway()" value="Save"/>
</form>